body {
	font-family: "Trebuchet MS", Tahoma, Verdana, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

a:after {
	content: " (" attr(href) ")";
}

h1 a:after {
	content: "";
}

acronym[title]:after {
	content: " (" attr(title) ") ";
	font-style: italic;
}
